PORT=8004
JWT_SECRET=your_jwt_secret_key
DATABASE_URL="mysql://root:rootpassword@db-apps:3306/db_ecommerce_orders?allowPublicKeyRetrieval=true"
CART_SERVICE_URL=http://cart-service:8003
PRODUCT_SERVICE_URL=http://product-service:8000
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672